/Asteroid.class
/Coal.class
/Game.class
/Ice.class
/Inventory.class
/Iron.class
/Player.class
/Portal.class
/Resource.class
/Robot.class
/Settler.class
/Steppable.class
/Travelable.class
/Unit.class
/Uranium.class
/Material.class
/Inventory$ResourceBox.class
